# LangSmith adalah platform untuk melihat, memonitor, dan mengevaluasi performa chatbot yang dibangun dengan LangChain.
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="your_api_key_here"
LANGSMITH_PROJECT="your_name_project"
TOKENIZERS_PARALLELISM=false

# Groq API untuk model bahasa
GROQ_API_KEY="your_api_key_here"

# Path untuk FAISS dan dokumen
VECTOR_DB_PATH=data-rag/faiss_index
DOCUMENTS_PATH=data-rag/documents
OCR_PATH=data-ocr/images

# MySQL Config
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DATABASE=multimodal_assistant_db
MYSQL_PORT=3306

