LANGCHAIN_API_KEY="your_langchain_api_key"
LANGSMITH_API_KEY="your_langsmith_api_key"
LITERALAI_API_KEY="your_literalai_api_key"


#LangChain digunakan sebagai framework untuk mengelola alur kerja chatbot, termasuk prompt management, memory, dan retrieval augmentation.
#LangSmith adalah platform untuk melihat, memonitor, dan mengevaluasi performa chatbot yang dibangun dengan LangChain.
#LiteralAI adalah tools untuk mengevaluasi kualitas output LLM.