/__pycache__/

#API
api/__pycache__/
api/__init__.py
api/endpoints/__pycache__
*.gguf

#data RAG
data-rag/documents/doc
data-rag/documents/docx
data-rag/documents/pdf
data-rag/faiss_index/index.faiss
data-rag/faiss_index/index.pkl
data-rag/logs/archive

#Data OCR
data-ocr/logs/archive

#File Uji Coba RAG
fileujicoba-pdf-png-docx-jpeg-jpg/

#src
src/__pycache__
src/__init__.py

README.md

/venv/
.env