fastapi
uvicorn
streamlit
langchain
langchain-community
langsmith
groq
faiss-cpu
sentence-transformers
pytesseract
pdfplumber
python-docx
opencv-python
numpy
python-dotenv
requests
langchain-groq
langchain-huggingface
watchdog
python-multipart
pdf2image
onnx
onnxruntime
mysql-connector-python
python-magic
odfpy
torch==2.4.0
pillow
gtts
pyttsx3
pypandoc