fastapi
uvicorn
ctransformers
chainlit
langchain
langchain-community
langsmith
literalai
faiss-cpu
streamlit
python-dotenv
mistralai 
tiktoken 
pypdf 
pytesseract
opencv-python
pdf2image
pillow
pdfplumber
python-docx