fastapi
uvicorn
streamlit
langchain
langchain-community
langsmith
groq
faiss-cpu
sentence-transformers
pytesseract
pdfplumber
python-docx
opencv-python
numpy
python-dotenv
requests
langchain-groq
langchain-huggingface
watchdog
python-multipart
pdf2image